@charset "utf-8";
*  {
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    width: 100%; 
    margin-left: 19%;
    margin-right: 17%;
    background: black;
    padding: 0%; 
}

html {
    height: 100%;    
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #e2e2e2;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 100%;
}

a {

    color: #ffffff;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;

}

a:hover {
    color: #62EDC7;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
}

a:active {
    color: blue;
}
    ::selection {background: #62EDC7; color: #62EDC7}
    ::-moz-selection {background: #E4BFBF; color: #FFFCFC}
img {
    max-width: 100%;
    height: auto;
    width auto\9;
}

.right {
    float: right 
}

.left {
    float: left 
}

.clear {
    clear: both 
}

.head{
    display: flex;
    height: 35px;
    background: black;
    padding: 1%; 
}

.body {
    margin-left: 11.5%;
    margin-right: 11.5%;
    height: 35px;
    background: #e2e2e2;
    padding: 1%;
}

#logo { 
    margin-left:-40px;
    font-size: 100%;     
}

.main_navigation_menu {
    flex-direction: column;
    font-size: 100%;
    font-family: Comic Sans MS, sans-serif;
    padding: 15px; 
}

.autorization_menu { 
    flex-direction: row;
    font-size: 100%;
    font-family: Comic Sans MS, sans-serif; 
    float: right;
    padding: 10px;
}

.mel {   
    font-weight: bold;
    font-size: 3em;  
}
#menu_hrefs  {
    display: flex;
    background-color: #F44747;
}

a.blogs {   
    padding: 20px;
    font-weight: bold;
    color:#62EDC7;
}
.blogs_navigation_otstup{
    margin-top: 17px;
    height: 34px;
    margin-left: 80px;
}

.blogs_navigation{
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    font-weight: bold;
    color:#4C5250;
    margin-right: 0px;
    
}

.cards_text {
    display: table-cell; 
    text-align:center;
    font-size: 17px;
    font-family: Proxima,sans-serif;
    font-weight: 700;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
}

.cards_blogs {
    margin: 40%;
    color: #FE4444;
    font-size: 1em;
    line-height: 30px;
    font-weight: bold;
}
.cards_comments{
    margin: 35%;
    margin-top: 130px;
    color: #969696;
    font-family: Proxima,sans-serif;
    font-size: 0.7em;
    line-height: 90px;
    font-weight: bold;
}

/* Основные стили для сайта */

#wrapper {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 20px;
}

#wrapper #articles {     
    width: 95%;
    margin-left: 5%;
}

#wrapper #articles article {
    margin-bottom: 30px;
    float: left;
    width: 22%;
    border: 1px white;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fafafa;
    margin-right: 1.1%;
    margin-left: 1.1%; 
    min-height: 400px;
}

#wrapper #articles article img{
    width: 100%;
    height: 200px;
    border-radius: 0px 0px 0px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

/* стили для футера */

footer{
    width: 100%;
    margin-top: 4295px;
    padding: 0%;
    text-align: center;
    padding-bottom: 2%;
}

.botton_network {
    width: 210px;
    height: 48px;
    float: center;
    margin-top: 20px;
    background: #20B2AA; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 40px; /* Уголки */
    font-size: 100%;
    font-family: Comic Sans MS, sans-serif;
    padding: 5px;
}

#footer_block {
    display: flex;
    height: 180px;
    padding: 2% 0;
    align-content: center;
    width: 100%;
    margin: 20px 0;
}

#e-mail {
    margin: 0;
    height: 280px;
    width: 100%;
    background-image: url(https://picsum.photos/5472/3648?image=1074);
}

#footer_block_in {
    margin-left: 650px;
    width: 500px;
    justify-content: center;
    line-height: 25px;
    text-align: center;
    color: white;
    padding: 1%;
    height: 200px;
}

footer, #page_links {
    height: 650px;
    margin-bottom: -5%;
}
 
form {
    width: 100%
} 

form input {
    margin-bottom: 15px;
    width: 80%;
    padding: 10px;
    margin-left: -12px;
}

.footer_down {
    display: flex;
    height: 380px;
    background-color: #2E2E2E;

}

.menu_hrefs_footer {
    text-align: center;
    border-radius: 4px;
    margin-right: 0%;
    margin-left: 0%;
}

#footerblock_down_in {
    line-height: 100px;
    text-align: center;
    padding: 1%;
    height: 100px;
    width: 98%;
    color: #fff;
}

.main_navigation_menu_footer{
    padding: 12px;
    font-weight: bold;
    color: white;
    font-size: 0.9em;
    opacity: 0.8;
    margin-right: 0px;
    margin-left: 0px;
}

.links_menu_footer {
    margin-top: -25px;
    margin-left: -55px;
    padding: 1%;
    height: 100px;
    font-size: 0.88em;
    font-family: "Segoe UI", sans-serif;
    width: 100%;
    color: #808080;
    opacity: 0.5;
    line-height: 25px;
}

.links_menu_footer_otstup{
    padding: 5px;
}

a.links_blogs { 
    padding: 20px;
    font-weight: bold;
    color:#62EDC7;
}

.footer_icons{
    margin-top: -30px;
    font-size: 2.1em;
}

.footer_icons_networks {     
    font-size: 100%;
    font-family: Comic Sans MS, sans-serif; 
    float: center;
    padding: 15px;
    color: white;
}

.mel_copirait{
    margin-top: -30px;
    font-size: 0.9em;
}

.mel_copirait_znak{
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin-top: -30px;
    font: 14px/24px roboto-regular,Arial,sans-serif;
    display: inline-block;
    color: #fff;
}